*.csv
.idea
*.rar
data
dataset
jpg
result
venv
*.h5
*.json
*.tsv
*.dill
learn
.ipynb_checkpoints
.Rproj.user
.RData
.Rhistory
test.py
test.spec
build
*.mp4
Raw*
.pyc
*.pyc
log
configs
distill-test
logs
outputs
saved_models
test-ner
data_process/gpt2/
data_process/transformers_gpt2/
# 忽略任何层级下的 data、save、result 文件夹及其内容
**/*data*/
**/*save*/
**/*result*/
# 忽略任何层级下的文件名包含 data、save、result 的文件
**/*data*
**/*save*
**/*result*