python==3.12.4,
en_core_web_lg==3.8.0,
dgl==2.2.0,
matplotlib==3.8.4,
networkx==2.8.4,
numpy==1.26.4,
pandas==2.2.2,
scikit-learn==1.4.2,
scipy==1.13.1,
spacy==3.8.4,
torch==2.3.0,
torch-cluster==1.6.3+cpu,
torch-geometric==2.6.1,
torch-scatter==2.1.2,
torch-sparse==0.6.18,
torch-spline-conv==1.2.2,
torchdata==0.9.0,
tqdm==4.66.4,
transformers==4.44.2,
sentence_transformers==4.1.0
torch_optimizer==0.3.0
ranger_adabelief==0.1.0
